*{
    /*
    margin: 0;

    padding: 0;

    border:10px solid royalblue;

     */
    list-style: none;
    box-sizing: border-box;
}

img {
    height: 500px;
    width: 500px;
}

.img-start {
    border: 10px solid lightskyblue;
}
#img-master{
    border: 10px solid lightblue;
}

.relative{
    margin-left: 35px;
    background: royalblue;
    width: 500px;
    height: 500px;
}

.absolute{
    background: steelblue;
    width: 100px;
    height: 100px;
}